@define-color foreground #cccccc;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrains Mono;
    font-size: 18px;
    padding: 1;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#temperature {
    padding-left: 1em
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em
}
