window {
  margin: 0px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 4px;
  font-size: 1.2em;
}

#input {
  padding: 10px;
  margin: 5px;
  font-size: 1.8em;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  border: none; 
}

#input:active, #input:focus, #input:hover {
  border: none;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
}

#entry:selected {
  font-weight: bold;
  background-color: rgb(82, 157, 255);
  border-radius: 4px;
}
